<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon>settings</mat-icon>
    Presentation settings
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Images">
    <div fxLayout="row">
      <button fxFlex mat-raised-button (click)="fileInput.click()">Upload image</button>
<!--      <button fxFlex mat-raised-button color="warn" [disabled]="!previewImage" (click)="deleteImage()">Delete image</button>-->
      <input hidden #fileInput type="file" id="file" (change)="handleFileInput($event.target.files)">
    </div>
    <div fxLayout="row wrap">
      <mat-card fxFlex.gt-md="300px" fxFlex.lt-lg="50" *ngFor="let image of images"
                [ngStyle]="{'background-color': getActiveImage(image)}">
        <button color="primary" style="position: absolute" *ngIf="getImageIndex(image) !== -1"
                mat-mini-fab>{{getImageIndex(image) + 1}}</button>
        <mat-card-content>
          <img height="100%" width="100%" alt="{{image}}" src="{{getImageUrl(image)}}">
        </mat-card-content>

        <mat-card-actions>
          <button color="accent" (click)="chooseImage(image)" mat-raised-button><mat-icon>check</mat-icon> Choose</button>
          <button color="warn" (click)="deleteImage(image)" mat-raised-button><mat-icon>delete</mat-icon> Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>


