<mat-card style="height: 90%">
  <mat-card-title>Edit song</mat-card-title>
  <div fxLayout="row">
    <mat-form-field fxFlex>
      <input matInput placeholder="Title" [formControl]="title" required>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex>
      <textarea matInput style="min-height: 30em" placeholder="Lyrics" [formControl]="lyrics" required></textarea>
    </mat-form-field>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Chords &nbsp;
        <mat-icon *ngIf="haveChords()">link</mat-icon>
        <mat-icon *ngIf="!haveChords()">link_off</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div fxLayout="row">
      <mat-form-field fxFlex>
              <textarea matInput style="min-height: 30em" placeholder="Chords text"
                        [formControl]="chordsText"></textarea>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <button fxFlex mat-raised-button color="accent" [disabled]="lyrics.invalid || title.invalid" (click)="previewPdf()">
        <mat-icon style="height: 1em; width: 1em;">preview</mat-icon>    preview PDF
      </button>
    </div>
  </mat-expansion-panel>

  <div fxLayout="row">
    <button fxFlex mat-raised-button color="accent" [disabled]="lyrics.invalid || title.invalid" (click)="save()">
      <mat-icon style="height: 1em; width: 1em;">save</mat-icon>
    </button>
  </div>

</mat-card>

